.rz-html-editor-sm {
    min-height: 250px;
}

.rz-html-editor-xs {
    min-height: 100px;
}

.rz-html-editor-lg {
    min-height: 450px;
}

.addpasdiv {
    height: 632px;
}

.viewbtn {
    cursor: pointer;
}

.content-block {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

    .embed-responsive::before {
        display: block;
        content: "";
    }

    .embed-responsive .embed-responsive-item,
    .embed-responsive iframe,
    .embed-responsive embed,
    .embed-responsive object,
    .embed-responsive video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

.timer-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.timer {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}